.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.3s;
}

.shrunk {
  // Do nolthing
  .paymentModal,
  #btnStartDemo {
    transform: translate($width-sidebar/2);
  }
  // width: 100vw - $width-sidebar;
  // margin-left: $width-sidebar;
}

%btnDemoNav {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 75px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  z-index: 9999;
}

#btnStepDemoBack {
  @extend %btnDemoNav;
  background-image: url('../images/icon_arrow_white.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

#btnStepDemoForward{
  @extend %btnDemoNav;
  left: 100px;
  background-image: url('../images/icon_arrow_white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

#btnEndDemo {
  @extend %btnDemoNav;
  left: auto;
  right: 20px;
  background-image: url('../images/icon_home.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s $slide-easing;
}

#btnStartDemo {
  margin-top: 20px;
}

// Steps of final payment animation
$rotation: 30deg;

// 0th sets up the stage, shrinks the payment modal a bit scales up the
// browser window a bit
.f-anim-s0 {
  .paymentModal {
    @include transform(scale(0.95) translateY(50px));
  }

  .backdropContainer {
    @include transform(scale(1.05));
  }

  .paymentButtons {
    @include transform(scale(1));
  }

  #btnStartDemo {
    visibility: hidden;
  }
}

// First Step
.f-anim-s1 {
  .paymentModal {
    @include transition(transform 0.8s ease-in-out);
    @include transform(scale(0.95) translate3d(0, 50px, 10px) rotateY($rotation));
    transition-delay: 0.3s;
  }

  .backdropContainer {
    @include transition(transform 0.8s ease-in-out);
    @include transform(scale(1) rotateY($rotation));
    transition-delay: 0.3s;
  }
}

// Second Step
.f-anim-s2 {
  .masterCardContainer {
    visibility: visible;
    @include transform(rotateY($rotation) translateZ(30px));
    &:before,
    &:after {
      transition: opacity 0.1s;
      transition-delay: 0.25s;
      opacity: 1;
    }
    .masterCardWindow {
      @include transition(transform 0.35s cubic-bezier(0,1.03,.58,1.02));
      @include transform (scale(0.9));
      @include animation(otp-fill-anim 2s steps(6, start) forwards);
      @include animation-delay(1s);
      &:after {
        animation: tap-gesture 0.5s;
        animation-delay: 3.5s;
      }
    }
  }
}

// Third step
.f-anim-s3 {
  .paymentModal {
    opacity: 0;
  }

  .masterCardContainer {
    &:before,
    &:after{
      transition-delay: 0s;
      transition: opacity 0s;
      opacity: 0;
    }
    .masterCardWindow {
      @include transform(scale(0));
    }
  }
}

// Fourth step
.f-anim-s4 {
  .masterCardContainer {
    .paymentConfirmationWindow {
      @include transform(scale(1) translate3d(-50%, -50%, 0));
    }
  }
}

// Fifth step
.f-anim-s5 {
  .paymentModal {
    @include transition(transform 0.7s ease-in-out);
    @include transform(rotateY(0));
  }

  .backdropContainer {
    @include transition(transform 0.7s ease-in-out);
    @include transform(rotateY(0));
  }

  .masterCardContainer {
    @include transition(transform 0.7s ease-in-out);
    @include transform(rotateY(0));
  }
}