.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.3s, margin 0.3s;
}

.shrunk {
  width: 100vw - $width-sidebar;
  margin-left: $width-sidebar;
}

#btnStepBackDemo {
  position: absolute;
  top: 20px;
  left: 20px;
}

#btnEndDemo {
  position: absolute;
  top: 20px;
  left: 100px;
}

#btnStartDemo {
  margin-top: 20px;
}

// Steps of final payment animation
$rotation: 50deg;

// First Step
.f-anim-s1 {
  .paymentModal,
  .backdropContainer,
  .masterCardContainer {
    transform: translate3d(90px, 0, 0) rotateY($rotation);
    // transition: transform 0.7s $slide-easing;
  }

  .masterCardContainer {
    transform: rotateY($rotation);
  }
 }

// Second Step
.f-anim-s2 {
  .paymentModal,
  .backdropContainer {
    transform: translateZ(-70px) rotateY($rotation); 
  }
 .masterCardContainer {
    visibility: visible;
    transform: translate3d(90px, 0, 140px) rotateY($rotation);
    .masterCardWindow {
      transform: scale(1);
    }
  }
}

// Third step
.f-anim-s3 {
  .paymentModal,
  .backdropContainer,
  .masterCardContainer {
    transform: translateZ(0) rotateY($rotation);
    // transition: transform 0.7s $slide-easing;
  }

  .paymentModal {
    opacity: 0;
  }

  .masterCardContainer{
    transform: translate3d(0, 0, 0) rotateY($rotation);
    .masterCardWindow {
      transform: scale(0);
      transition: transform 0.3s $slide-easing;
    }
    .paymentConfirmationWindow {
      transform: scale(1) translate3d(-50%, -50%, 0);
    }
  }
}

.f-anim-s4 {
  .paymentModal,
  .backdropContainer,
  .masterCardContainer {
    transform: translateZ(0) rotateY(0);
  }

  .masterCardContainer {
    transform: rotateY(0);
  }
}


// The Master card window that pops up
.masterCardContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  transition: transform 0.7s $slide-easing;

  .masterCardWindow {
    width: 500px;
    height: 500px;
    border-radius: 3px;
    background: white;
    border: 1px solid #000;
    transition: transform 0.3s $slide-easing;
    transform: scale(0);
  }

  .paymentConfirmationWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate3d(-50%, -50%, 0);
    background: white;
    border-radius: 4px;
    width: 500px;
    transition: transform 0.3s $spring-easing;
    transform-origin: 0% 0%;
    transition-delay: 1s;
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    h1 {
      font-size: 18px;
      font-weight: 700;
    }
    .row {
      display: flex;
      width: 100%;
      padding: 30px 0 0 0;
      .left-col,
      .right-col {
        flex: 1;
      }
      .right-col {
        text-align: right;
      }
    }
  }
}
