.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.3s, margin 0.3s;
}

.shrunk {
  width: 100vw - $width-sidebar;
  margin-left: $width-sidebar;
}

#btnEndDemo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
}

#btnStartDemo {
  margin-top: 20px;
}

.playingDemo-s1 {
  .paymentButtons {
    display: block;
    opacity: 1;
  }

  #btnStartDemo{
    opacity: 0;
    display: none;
  }

  #btnEndDemo {
    display: block;
  }

}