.buttonBackToList {
  cursor: pointer;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #6C6C6C;
  font-weight: 700;
  transition: margin 0.3s $slide-easing;
  outline: none;
  pointer-events: none;
  padding: 0;
  margin-left: -14px;
  background: #F2F2F2;
}