.masterCardContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  transform: translateZ(30px);
  white-space:pre;

  &:before {
    position: absolute;
    color: forestgreen;
    content: attr(data-mname);
    top: 400px;
    left: 841px;
    display: block;
    z-index: 9999;
    font-weight: 900;
    font-size: 14px;
    opacity: 0;
  }

  &:after {
    position: absolute;
    color: forestgreen;
    content: attr(data-date);
    top: 418px;
    left: 841px;
    display: block;
    z-index: 9999;
    font-weight: 900;
    font-size: 14px;
    opacity: 0;
  }

  .masterCardWindow {
    position: relative;
    width: 762px;
    height: 566px;
    border-radius: 3px;
    background: url('../images/mastercard.png') 0 0 no-repeat;
    transition: transform 0.5s $spring-easing;
    transform: scale(0);
    // Tap Gesture
    &:after {
      position: absolute;
      top: 355px;
      left: 298px;
      content: '';
      display: block;
      background: #6499C9;
      border: 2px solid #6499C9;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transform: scale(1.3);
      opacity: 0.0;
    }
    // Amount
    &:before {
      position: absolute;
      top: 242px;
      left: 381px;
      content: attr(data-amount);
      font-weight: 900;
      font-size: 15px;
      color:#00007D;
      display: block;
      background:white;
    }
  }

  .paymentConfirmationWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate3d(-50%, -50%, 0);
    background: white;
    border-radius: 4px;
    width: 500px;
    transition: transform 0.3s $spring-easing;
    transform-origin: 0% 0%;
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    h1 {
      font-size: 18px;
      font-weight: 700;
    }
    .row {
      display: flex;
      width: 100%;
      padding: 30px 0 0 0;
      .left-col,
      .right-col {
        flex: 1;
      }
      .right-col {
        text-align: right;
      }
    }
  }
}