.backdropContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transform: scale(1.1);
  transition: transform 0.3s $slide-easing;
  z-index: -999;
}

.merchantPaymentWindow {
  height: 80vmin;
  width: 120vmin;
  background-image: url('../images/bg_browser.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 3px;
}