.merchantListItem {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s $slide-easing;
  transform: translateX(-15%);
  opacity: 0;
  justify-content: space-between;

  &:hover {
    background: blue;
    color: white;
  }

  // @for $i from 1 through 6 {
  //   &:nth-child(#{$i}) {
  //     transition-delay: #{$i * 0.1}s;
  //   }
  // }
}

.li-merchantName {
  margin-left: 10px;
  width: 80%;
}

.li-merchantImage {
  width: 50px;
  height: 50px;
  background:grey;
}

.arrow-right {
  margin-left: 5px;
  color: #6C6C6C;
}