.merchantListItem {
  padding: 20px;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s $slide-easing;
  transform: translateX(-50%);

  &:hover {
    background: blue;
    color: white;
  }

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      transition-delay: #{$i * 0.1}s;
    }
  }
}

.li-merchantName {
  margin-left: 10px;
  width: 80%;
}

.li-merchantImage {
  width: 50px;
  height: 50px;
  background: red;
}

.arrow-right {
  width: 50px;
  height: 50px;
  background: black;
  margin-left: 5px;
}