.paymentModalBody {
  padding: 20px;
  padding-bottom: 0;
  font-size: 14px;

  .inputWrap {
    color: #424242;
    border-bottom: 1px solid #e6e7e8;
    position: relative;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }

  label {
    transform-origin: 0 0;
    color: #757575;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    white-space: nowrap;
    pointer-events: none;
  }

  .input {
    border: none;
    outline: none;
    background: 0 0;
    width: 100%;
    line-height: 19px;
    padding: 28px 0 7px;
    margin: 0;
    position: relative;
    color: inherit;
    font-size: 16px;
  }

  i {
    position: absolute;
    font-size: 20px;
    bottom: 6px;
    right: 0;
    color: #8f8f8f;
  }

  #legend {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  #payment-options {
    display: flex;
    margin: 0 -20px;
    border-top: 1px solid #e6e7e8;
    .payment-option {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      flex: 1;
      height: 117px;
      border-right: 1px solid #e6e7e8;
      &:last-child {
        border-color: transparent;
      }
    }
  }

  // Card Payment form styles
  #body-card-form {
    margin: -20px -20px 0 -20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .card-header {
    width: 100%;
    padding: 20px;
    background: #FCFBFA;
    border-bottom: 1px solid #E6E7E8;
    color: #767676;
  }

  .card-fields {
    display: flex;
    padding: 20px;
    flex-direction: column;

    .row {
      display: flex;
      &:not(:first-child) {
        margin-top: 30px;
      }
      &:last-child {
        margin-bottom: 30px;
      }
    }

    .inputWrap {
      margin-right: 10px;

      &:last-child {
        margin : 0
      }
    }

    .left-input {
      width: 65%;
    }

    .right-input {
      width: 35%;
    }
  }

  .payButton {
    background: #1ABC9C;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0 0 3px 3px;
  }
}