.sidebar {
  position: absolute;
  width: 350px;
  height: 100vh;
  background: white;
  z-index: 999;
  transition: transform 0.3s $slide-easing;
}

.open {
  transform: translateX(0);
  & > .merchantList > .merchantListItem {
    opacity: 1;
    transform: none;
  }
}

.close {
  transform: translateX(-100%);
}