.sidebar {
  position: absolute;
  width: 350px;
  height: 100vh;
  background: white;
  z-index: 999;
  @include transform(translateX(-500px));
}

.sidebar-open {
  @include animation(slideIn 0.3s cubic-bezier(.06,.69,.18,1.01) forwards);
}