/* line 1, ../../src/Styles/main.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../src/Styles/main.scss */
body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(0deg, #4C79B4, #101D4A);
  overflow: hidden;
}

/* line 11, ../../src/Styles/main.scss */
html * {
  font-family: 'Lato', sans-serif !important;
}

/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  to {
    transform: translateX(-100%);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes bounceIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fadeOutInWithPause {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 76, ../../src/Styles/_animations.scss */
.fadeInLeft {
  -moz-animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
  -webkit-animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
  animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
}

/* line 80, ../../src/Styles/_animations.scss */
.slideIn {
  -moz-animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  -webkit-animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
}

/* line 84, ../../src/Styles/_animations.scss */
.slideOut {
  -moz-animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  -webkit-animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
}

/* line 88, ../../src/Styles/_animations.scss */
.bounceIn {
  -moz-animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
  -webkit-animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
  animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
}

/* line 92, ../../src/Styles/_animations.scss */
.fadeInUp {
  animation: fadeInUp 0.3s;
}

/* line 96, ../../src/Styles/_animations.scss */
.fadeInDown {
  animation: fadeInDown 0.3s both;
}

/* line 100, ../../src/Styles/_animations.scss */
.fadeIn {
  animation: fadeIn 0.3s;
}

/* line 1, ../../src/Styles/Components/_App.scss */
.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.3s, margin 0.3s;
}

/* line 12, ../../src/Styles/Components/_App.scss */
.shrunk {
  width: 60vw;
  margin-left: 40vw;
}

/* line 17, ../../src/Styles/Components/_App.scss */
#btnStepBackDemo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
}

/* line 24, ../../src/Styles/Components/_App.scss */
#btnStartDemo {
  margin-top: 20px;
}

/* line 29, ../../src/Styles/Components/_App.scss */
.playingDemo-s1 .paymentButtons {
  display: block;
  opacity: 1;
}
/* line 34, ../../src/Styles/Components/_App.scss */
.playingDemo-s1 #btnStartDemo {
  opacity: 0;
  display: none;
}
/* line 39, ../../src/Styles/Components/_App.scss */
.playingDemo-s1 #btnStepBackDemo {
  display: block;
}

/* line 1, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #8C82BD;
}
/* line 8, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader h1 {
  font-weight: 700;
  font-size: 18px;
  padding: 20px;
  flex-grow: 2;
  color: white;
}
/* line 16, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader .arrow-left {
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: 14px;
  transform: translateX(14px);
  transition: transform 0.2s, opacity 0.1s, cubic-bezier(0.06, 0.69, 0.18, 1.01);
  cursor: default;
  opacity: 0;
  z-index: 0;
}
/* line 28, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader .subheader {
  background: #F2F2F2;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  color: #6C6C6C;
  transition: padding 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  flex-grow: 1;
}
/* line 36, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader .subheader .subtext {
  font-size: 14px;
  font-weight: 700;
}

/* line 44, ../../src/Styles/Components/_SidebarHeader.scss */
.hasBackButton .arrow-left {
  transform: translateX(0);
  opacity: 1;
  cursor: pointer;
}
/* line 50, ../../src/Styles/Components/_SidebarHeader.scss */
.hasBackButton .buttonBackToList {
  pointer-events: auto;
  margin-left: -15px;
  padding-left: 20px;
}

/* line 1, ../../src/Styles/Components/_Sidebar.scss */
.sidebar {
  position: absolute;
  width: 40vw;
  height: 100vh;
  background: white;
  z-index: 999;
  transition: transform 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  box-shadow: 4px 3px 14px 0px rgba(0, 0, 0, 0.06);
  transform: translateX(-100%);
  overflow: hidden;
}

/* line 13, ../../src/Styles/Components/_Sidebar.scss */
.open {
  transform: translateX(0);
}
/* line 15, ../../src/Styles/Components/_Sidebar.scss */
.open .merchantListItem {
  opacity: 1;
  transform: translateX(0);
}

/* line 21, ../../src/Styles/Components/_Sidebar.scss */
.sidebarContent {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 1, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModal {
  max-width: 350px;
  min-width: 350px;
  background: white;
  border-radius: 3px;
  transition: all 0.3s;
  transform: scale(0);
  font-family: 'Lato';
  -moz-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

/* line 12, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader {
  background: #1abc9c;
  width: 100%;
  padding: 20px;
  border-radius: 3px 3px 0 0;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s;
}
/* line 21, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-name, .paymentModalHeader #header-description, .paymentModalHeader #header-amount {
  white-space: pre;
  text-overflow: ellipsis;
  padding: 0 0 2px 0;
  overflow: hidden;
}
/* line 28, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-logo {
  width: 64px;
  height: 64px;
  border-radius: 3px;
  margin-right: 24px;
  background: white;
  float: left;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 38, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-name {
  font-size: 20px;
}
/* line 43, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-description {
  margin-top: 3px;
  opacity: 0.8;
  font-size: 16px;
}
/* line 50, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-amount {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
}

/* line 1, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody {
  padding: 20px;
  padding-bottom: 0;
  font-size: 14px;
}
/* line 6, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .inputWrap {
  color: #424242;
  border-bottom: 1px solid #e6e7e8;
  position: relative;
  margin-top: 20px;
}
/* line 11, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .inputWrap:first-child {
  margin-top: 0;
}
/* line 16, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody label {
  transform-origin: 0 0;
  color: #757575;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
}
/* line 27, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .input {
  border: none;
  outline: none;
  background: 0 0;
  width: 100%;
  line-height: 19px;
  padding: 28px 0 7px;
  margin: 0;
  position: relative;
  color: inherit;
  font-size: 16px;
}
/* line 40, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody i {
  position: absolute;
  font-size: 20px;
  bottom: 6px;
  right: 0;
  color: #8f8f8f;
}
/* line 48, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #legend {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 10px;
}
/* line 59, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #payment-options {
  display: flex;
  margin: 0 -20px;
  border-top: 1px solid #e6e7e8;
}
/* line 63, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #payment-options .payment-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
  height: 117px;
  border-right: 1px solid #e6e7e8;
}
/* line 71, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #payment-options .payment-option:last-child {
  border-color: transparent;
}
/* line 78, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #body-card-form {
  margin: -20px -20px 0 -20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* line 85, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-header {
  width: 100%;
  padding: 20px;
  background: #FCFBFA;
  border-bottom: 1px solid #E6E7E8;
  color: #767676;
}
/* line 93, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
/* line 98, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .row {
  display: flex;
}
/* line 100, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .row:not(:first-child) {
  margin-top: 30px;
}
/* line 103, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .row:last-child {
  margin-bottom: 30px;
}
/* line 108, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .inputWrap {
  margin-right: 10px;
}
/* line 111, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .inputWrap:last-child {
  margin: 0;
}
/* line 116, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .left-input {
  width: 65%;
}
/* line 120, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .right-input {
  width: 35%;
}
/* line 125, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .payButton {
  background: #1ABC9C;
  padding: 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0 0 3px 3px;
}

/* line 1, ../../src/Styles/Components/_ButtonPrimary.scss */
.buttonPrimary {
  padding: 15px 25px;
  text-transform: uppercase;
  font-family: Lato;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
}
/* line 16, ../../src/Styles/Components/_ButtonPrimary.scss */
.buttonPrimary:active {
  transform: scale(0.9);
}
/* line 20, ../../src/Styles/Components/_ButtonPrimary.scss */
.buttonPrimary:focus {
  outline: none;
}

/* line 1, ../../src/Styles/Components/_ButtonBackToList.scss */
.buttonBackToList {
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #6C6C6C;
  font-weight: 700;
  transition: margin 0.3s, padding 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  outline: none;
  pointer-events: none;
  padding: 0;
  margin-left: -14px;
  background: transparent;
  z-index: 999;
}

/* line 1, ../../src/Styles/Components/_MerchantList.scss */
.merchantList {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.4s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  height: 100%;
  overflow-y: scroll;
  transform: translateX(-100%);
  padding-bottom: 100px;
}

/* line 1, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  transform: translateX(-15%);
  opacity: 0;
  justify-content: space-between;
}
/* line 12, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* line 23, ../../src/Styles/Components/_MerchantListItem.scss */
.li-merchantName {
  margin-left: 20px;
  width: 80%;
}

/* line 28, ../../src/Styles/Components/_MerchantListItem.scss */
.li-merchantImage {
  width: 64px;
  height: 64px;
  background: grey;
  border-radius: 3px;
}

/* line 35, ../../src/Styles/Components/_MerchantListItem.scss */
.arrow-right {
  margin-left: 5px;
  color: #6C6C6C;
}

/* line 1, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transition: transform 0.4s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  transform: translateX(110%);
  z-index: -1;
}
/* line 11, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .merchantInfo {
  display: flex;
  align-items: center;
}
/* line 14, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .merchantInfo .merchantLogo {
  height: 64px;
  width: 64px;
  border-radius: 3px;
  background: grey;
}
/* line 21, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .merchantInfo h1 {
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
}
/* line 28, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .inputWrap {
  margin-top: 20px;
  position: relative;
  border-bottom: 1px solid #e6e7e8;
}
/* line 33, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .inputWrap label {
  color: #757575;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
}
/* line 43, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .inputWrap .input {
  border: none;
  outline: none;
  background: 0 0;
  width: 100%;
  line-height: 19px;
  padding: 28px 0 7px;
  margin: 0;
  position: relative;
  color: inherit;
  font-size: 16px;
}

/* line 59, ../../src/Styles/Components/_MerchantDetail.scss */
.visible-in-sidebar {
  transform: translateX(0);
  z-index: 999;
}

/* line 1, ../../src/Styles/Components/_PaymentButtons.scss */
.paymentButtons {
  margin-top: 32px;
  opacity: 0;
  display: none;
  transition: transform 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
}
/* line 6, ../../src/Styles/Components/_PaymentButtons.scss */
.paymentButtons .buttonPrimary {
  margin-right: 5px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-size: 16px;
}
/* line 11, ../../src/Styles/Components/_PaymentButtons.scss */
.paymentButtons .buttonPrimary:last-child {
  margin-right: 0;
}

/* line 1, ../../src/Styles/Components/_MerchantPaymentWindow.scss */
.backdropContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  z-index: -999;
}

/* line 14, ../../src/Styles/Components/_MerchantPaymentWindow.scss */
.merchantPaymentWindow {
  height: 80vmin;
  width: 100vmin;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
