/* line 1, ../../src/Styles/main.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../src/Styles/main.scss */
body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(0deg, #4C79B4, #101D4A);
  perspective: 1400px;
  overflow: hidden;
}

/* line 12, ../../src/Styles/main.scss */
html * {
  font-family: 'Lato', sans-serif !important;
}

/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes tap-gesture {
  50% {
    transform: scale(0.9);
    opacity: 1;
  }
}
@keyframes otp-fill-anim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -3396px;
  }
}
@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  to {
    transform: translateX(-100%);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes bounceIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes bounceOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes fadeOutInWithPause {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUpScaleDown {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(0.9);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: scale(0.5);
    opacity: 0;
    border-width: 8px;
  }
  20% {
    transform: scale(0.6);
    opacity: 0.8;
    border-width: 4px;
  }
  90% {
    transform: scale(1);
    opacity: 0;
  }
}
/* line 139, ../../src/Styles/_animations.scss */
.fadeInLeft {
  -moz-animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
  -webkit-animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
  animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
}

/* line 143, ../../src/Styles/_animations.scss */
.fadeInRight {
  -moz-animation: fadeInRight 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
  -webkit-animation: fadeInRight 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
  animation: fadeInRight 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
}

/* line 147, ../../src/Styles/_animations.scss */
.slideIn {
  -moz-animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  -webkit-animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
}

/* line 151, ../../src/Styles/_animations.scss */
.slideOut {
  -moz-animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  -webkit-animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
}

/* line 155, ../../src/Styles/_animations.scss */
.bounceIn {
  -moz-animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
  -webkit-animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
  animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
}

/* line 159, ../../src/Styles/_animations.scss */
.bounceOut {
  -moz-animation: bounceOut 0.3s both cubic-bezier(0.59, -0.46, 0.29, 1.24);
  -webkit-animation: bounceOut 0.3s both cubic-bezier(0.59, -0.46, 0.29, 1.24);
  animation: bounceOut 0.3s both cubic-bezier(0.59, -0.46, 0.29, 1.24);
}

/* line 163, ../../src/Styles/_animations.scss */
.fadeInUp {
  -moz-animation: fadeInUp 0.3s;
  -webkit-animation: fadeInUp 0.3s;
  animation: fadeInUp 0.3s;
}

/* line 167, ../../src/Styles/_animations.scss */
.fadeInUpScaleDown {
  -moz-animation: fadeInUpScaleDown 0.3s;
  -webkit-animation: fadeInUpScaleDown 0.3s;
  animation: fadeInUpScaleDown 0.3s;
}

/* line 172, ../../src/Styles/_animations.scss */
.fadeInDown {
  -moz-animation: fadeInDown 0.3s both;
  -webkit-animation: fadeInDown 0.3s both;
  animation: fadeInDown 0.3s both;
}

/* line 176, ../../src/Styles/_animations.scss */
.fadeIn {
  animation: fadeIn 0.3s;
}

@keyframes demo-rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(30deg);
  }
}
/* line 190, ../../src/Styles/_animations.scss */
.demo-rotate {
  animation: demo-rotate 0.3s cubic-bezier(0.01, 0.66, 0.22, 1.25) both;
}

/* line 1, ../../src/Styles/Components/_App.scss */
.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.3s;
}

/* line 14, ../../src/Styles/Components/_App.scss */
.shrunk .paymentModal,
.shrunk #btnStartDemo {
  transform: translate(20vw);
}

/* line 22, ../../src/Styles/Components/_App.scss */
#btnStepDemoBack, #btnStepDemoForward, #btnEndDemo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 75px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  z-index: 9999;
}

/* line 33, ../../src/Styles/Components/_App.scss */
#btnStepDemoBack {
  background-image: url("../images/icon_arrow_white.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 40, ../../src/Styles/Components/_App.scss */
#btnStepDemoForward {
  left: 100px;
  background-image: url("../images/icon_arrow_white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: rotate(180deg);
}

/* line 49, ../../src/Styles/Components/_App.scss */
#btnEndDemo {
  left: auto;
  right: 20px;
  background-image: url("../images/icon_home.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
}

/* line 59, ../../src/Styles/Components/_App.scss */
#btnStartDemo {
  margin-top: 20px;
}

/* line 69, ../../src/Styles/Components/_App.scss */
.f-anim-s0 .paymentModal {
  -moz-transform: scale(0.95) translateY(50px);
  -ms-transform: scale(0.95) translateY(50px);
  -webkit-transform: scale(0.95) translateY(50px);
  transform: scale(0.95) translateY(50px);
}
/* line 73, ../../src/Styles/Components/_App.scss */
.f-anim-s0 .backdropContainer {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 77, ../../src/Styles/Components/_App.scss */
.f-anim-s0 .paymentButtons {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 81, ../../src/Styles/Components/_App.scss */
.f-anim-s0 #btnStartDemo {
  visibility: hidden;
}

/* line 88, ../../src/Styles/Components/_App.scss */
.f-anim-s1 .paymentModal {
  -moz-transition: -moz-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  -moz-transform: scale(0.95) translate3d(0, 50px, 10px) rotateY(30deg);
  -ms-transform: scale(0.95) translate3d(0, 50px, 10px) rotateY(30deg);
  -webkit-transform: scale(0.95) translate3d(0, 50px, 10px) rotateY(30deg);
  transform: scale(0.95) translate3d(0, 50px, 10px) rotateY(30deg);
  transition-delay: 0.3s;
}
/* line 94, ../../src/Styles/Components/_App.scss */
.f-anim-s1 .backdropContainer {
  -moz-transition: -moz-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  -moz-transform: scale(1) rotateY(30deg);
  -ms-transform: scale(1) rotateY(30deg);
  -webkit-transform: scale(1) rotateY(30deg);
  transform: scale(1) rotateY(30deg);
  transition-delay: 0.3s;
}

/* line 103, ../../src/Styles/Components/_App.scss */
.f-anim-s2 .masterCardContainer {
  visibility: visible;
  -moz-transform: rotateY(30deg) translateZ(30px);
  -ms-transform: rotateY(30deg) translateZ(30px);
  -webkit-transform: rotateY(30deg) translateZ(30px);
  transform: rotateY(30deg) translateZ(30px);
}
/* line 106, ../../src/Styles/Components/_App.scss */
.f-anim-s2 .masterCardContainer:before, .f-anim-s2 .masterCardContainer:after {
  transition: opacity 0.1s;
  transition-delay: 0.25s;
  opacity: 1;
}
/* line 112, ../../src/Styles/Components/_App.scss */
.f-anim-s2 .masterCardContainer .masterCardWindow {
  -moz-transition: -moz-transform 0.35s cubic-bezier(0, 1.03, 0.58, 1.02);
  -o-transition: -o-transform 0.35s cubic-bezier(0, 1.03, 0.58, 1.02);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0, 1.03, 0.58, 1.02);
  transition: transform 0.35s cubic-bezier(0, 1.03, 0.58, 1.02);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -moz-animation: otp-fill-anim 2s steps(6, start) forwards;
  -webkit-animation: otp-fill-anim 2s steps(6, start) forwards;
  animation: otp-fill-anim 2s steps(6, start) forwards;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 117, ../../src/Styles/Components/_App.scss */
.f-anim-s2 .masterCardContainer .masterCardWindow:after {
  animation: tap-gesture 0.5s;
  animation-delay: 3.5s;
}

/* line 127, ../../src/Styles/Components/_App.scss */
.f-anim-s3 .paymentModal {
  opacity: 0;
}
/* line 132, ../../src/Styles/Components/_App.scss */
.f-anim-s3 .masterCardContainer:before, .f-anim-s3 .masterCardContainer:after {
  transition-delay: 0s;
  transition: opacity 0s;
  opacity: 0;
}
/* line 138, ../../src/Styles/Components/_App.scss */
.f-anim-s3 .masterCardContainer .masterCardWindow {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 147, ../../src/Styles/Components/_App.scss */
.f-anim-s4 .masterCardContainer .paymentConfirmationWindow {
  -moz-transform: scale(1) translate3d(-50%, -50%, 0);
  -ms-transform: scale(1) translate3d(-50%, -50%, 0);
  -webkit-transform: scale(1) translate3d(-50%, -50%, 0);
  transform: scale(1) translate3d(-50%, -50%, 0);
}

/* line 155, ../../src/Styles/Components/_App.scss */
.f-anim-s5 .paymentModal {
  -moz-transition: -moz-transform 0.7s ease-in-out;
  -o-transition: -o-transform 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
/* line 160, ../../src/Styles/Components/_App.scss */
.f-anim-s5 .backdropContainer {
  -moz-transition: -moz-transform 0.7s ease-in-out;
  -o-transition: -o-transform 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
/* line 165, ../../src/Styles/Components/_App.scss */
.f-anim-s5 .masterCardContainer {
  -moz-transition: -moz-transform 0.7s ease-in-out;
  -o-transition: -o-transform 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

/* line 1, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #8C82BD;
}
/* line 8, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader h1 {
  font-weight: 700;
  font-size: 18px;
  padding: 20px;
  flex-grow: 2;
  color: white;
}
/* line 16, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader .arrow-left {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 11px;
  background-image: url("../images/icon_arrow.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(14px);
  transition: transform 0.2s, opacity 0.1s, cubic-bezier(0.06, 0.69, 0.18, 1.01);
  cursor: default;
  opacity: 0;
  z-index: 0;
}
/* line 32, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader .subheader {
  background: #F2F2F2;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 20px;
  color: #6C6C6C;
  transition: padding 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  flex-grow: 1;
}
/* line 40, ../../src/Styles/Components/_SidebarHeader.scss */
.sidebarHeader .subheader .subtext {
  font-size: 14px;
  font-weight: 700;
}

/* line 48, ../../src/Styles/Components/_SidebarHeader.scss */
.hasBackButton .arrow-left {
  transform: translateX(0);
  opacity: 1;
  cursor: pointer;
}
/* line 54, ../../src/Styles/Components/_SidebarHeader.scss */
.hasBackButton .buttonBackToList {
  pointer-events: auto;
  margin-left: -15px;
  padding-left: 20px;
}

/* line 1, ../../src/Styles/Components/_Sidebar.scss */
.sidebar {
  position: absolute;
  width: 40vw;
  height: 100vh;
  background: white;
  z-index: 999;
  transition: transform 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  box-shadow: 4px 3px 14px 0px rgba(0, 0, 0, 0.06);
  transform: translateX(-100%);
  overflow: hidden;
}

/* line 13, ../../src/Styles/Components/_Sidebar.scss */
.open {
  transform: translateX(0);
}
/* line 15, ../../src/Styles/Components/_Sidebar.scss */
.open .merchantListItem {
  opacity: 1;
  transform: translateX(0);
}

/* line 21, ../../src/Styles/Components/_Sidebar.scss */
.sidebarContent {
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 1, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModal {
  max-width: 350px;
  min-width: 350px;
  background: white;
  border-radius: 3px;
  font-family: 'Lato';
  transition: transform 0.5s cubic-bezier(0.4, 0.03, 0.18, 1.1);
  -moz-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

/* line 11, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader {
  position: relative;
  background: #1abc9c;
  width: 100%;
  padding: 20px;
  border-radius: 3px 3px 0 0;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s;
  overflow: hidden;
}
/* line 22, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
}
/* line 34, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-name, .paymentModalHeader #header-description, .paymentModalHeader #header-amount {
  white-space: pre;
  text-overflow: ellipsis;
  padding: 0 0 2px 0;
  overflow: hidden;
}
/* line 41, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-logo {
  width: 72px;
  height: 72px;
  border-radius: 3px;
  margin-right: 24px;
  background: white;
  float: left;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 54, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-name {
  font-size: 20px;
}
/* line 59, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-description {
  margin-top: 3px;
  opacity: 0.8;
  font-size: 16px;
}
/* line 66, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-amount {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
}

/* line 1, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody {
  padding: 20px;
  padding-bottom: 0;
  font-size: 14px;
}
/* line 6, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .inputWrap {
  color: #424242;
  border-bottom: 1px solid #e6e7e8;
  position: relative;
  margin-top: 20px;
}
/* line 11, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .inputWrap:first-child {
  margin-top: 0;
}
/* line 16, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody label {
  transform-origin: 0 0;
  color: #757575;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
}
/* line 27, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .input {
  border: none;
  outline: none;
  background: 0 0;
  width: 100%;
  line-height: 19px;
  padding: 28px 0 7px;
  margin: 0;
  position: relative;
  color: inherit;
  font-size: 16px;
}
/* line 40, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody i {
  position: absolute;
  font-size: 20px;
  bottom: 6px;
  right: 0;
  color: #8f8f8f;
}
/* line 48, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #legend {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 10px;
}
/* line 59, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #payment-options {
  display: flex;
  margin: 0 -20px;
  border-top: 1px solid #e6e7e8;
}
/* line 63, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #payment-options .payment-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
  height: 117px;
  border-right: 1px solid #e6e7e8;
  cursor: pointer;
}
/* line 73, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #payment-options .payment-option:hover {
  background: rgba(0, 0, 0, 0.03);
}
/* line 76, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #payment-options .payment-option:last-child {
  border-color: transparent;
}
/* line 79, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #payment-options .payment-option span {
  margin-top: 15px;
}
/* line 86, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #body-card-form {
  margin: -20px -20px 0 -20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* line 93, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-header {
  width: 100%;
  padding: 20px;
  background: #FCFBFA;
  border-bottom: 1px solid #E6E7E8;
  color: #767676;
}
/* line 101, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
/* line 106, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .row {
  display: flex;
}
/* line 108, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .row:not(:first-child) {
  margin-top: 30px;
}
/* line 111, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .row:last-child {
  margin-bottom: 30px;
}
/* line 116, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .inputWrap {
  margin-right: 10px;
}
/* line 119, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .inputWrap:last-child {
  margin: 0;
}
/* line 124, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .left-input {
  width: 65%;
}
/* line 128, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .card-fields .right-input {
  width: 35%;
}
/* line 133, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .payButton {
  position: relative;
  background: #1ABC9C;
  padding: 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0 0 3px 3px;
  margin-top: -12px;
}
/* line 147, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .payButton:after {
  position: absolute;
  top: 0;
  content: '';
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}
/* line 160, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody #body-processing-payment {
  margin: -20px -20px 0 -20px;
  padding: 20px;
  display: flex;
  height: 340px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 170, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .loader {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 30px 0 30px 0;
}
/* line 175, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .loader div {
  position: absolute;
  border-color: #4994E6;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 50%;
  border: 4px solid #29b7d6;
  opacity: 0;
  animation: spin 1.3s linear infinite;
}
/* line 186, ../../src/Styles/Components/_PaymentModalBody.scss */
.paymentModalBody .loader div:last-child {
  animation-delay: 0.65s;
}

/* line 1, ../../src/Styles/Components/_ButtonPrimary.scss */
.buttonPrimary {
  padding: 15px 25px;
  text-transform: uppercase;
  font-family: Lato;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.4, 0.03, 0.18, 1.1);
}
/* line 16, ../../src/Styles/Components/_ButtonPrimary.scss */
.buttonPrimary:active {
  transform: scale(0.9);
}
/* line 20, ../../src/Styles/Components/_ButtonPrimary.scss */
.buttonPrimary:focus {
  outline: none;
}

/* line 1, ../../src/Styles/Components/_ButtonBackToList.scss */
.buttonBackToList {
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #6C6C6C;
  font-weight: 700;
  transition: margin 0.3s, padding 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  outline: none;
  pointer-events: none;
  padding: 0;
  margin-left: -14px;
  background: transparent;
  z-index: 999;
}

/* line 1, ../../src/Styles/Components/_MerchantList.scss */
.merchantList {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.4s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  height: 100%;
  overflow-y: scroll;
  transform: translateX(-100%);
  padding-bottom: 100px;
}

/* line 1, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  transform: translateX(-15%);
  opacity: 0;
  justify-content: space-between;
}
/* line 12, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* line 23, ../../src/Styles/Components/_MerchantListItem.scss */
.li-merchantName {
  margin-left: 20px;
  width: 80%;
}

/* line 28, ../../src/Styles/Components/_MerchantListItem.scss */
.li-merchantImage {
  width: 64px;
  height: 64px;
  background: grey;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 38, ../../src/Styles/Components/_MerchantListItem.scss */
.arrow-right {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon_arrow.svg");
  transform: rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 1, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transition: transform 0.4s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  transform: translateX(110%);
  z-index: -1;
}
/* line 11, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .merchantInfo {
  display: flex;
  align-items: center;
}
/* line 15, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .merchantInfo .backIcon {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  background: url("../images/icon_back_arrow.svg") no-repeat center center;
  background-color: #8C82BD;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
/* line 26, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .merchantInfo .backIcon:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
/* line 32, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .merchantInfo .merchantLogo {
  height: 64px;
  width: 64px;
  border-radius: 3px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 41, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .merchantInfo h1 {
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
}
/* line 48, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .inputWrap {
  margin-top: 20px;
  position: relative;
  border-bottom: 1px solid #e6e7e8;
}
/* line 53, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .inputWrap label {
  color: #757575;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
}
/* line 63, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail .inputWrap .input {
  border: none;
  outline: none;
  background: 0 0;
  width: 100%;
  line-height: 19px;
  padding: 28px 0 7px;
  margin: 0;
  position: relative;
  color: inherit;
  font-size: 16px;
}

/* line 79, ../../src/Styles/Components/_MerchantDetail.scss */
.visible-in-sidebar {
  transform: translateX(0);
  z-index: 999;
}

/* line 1, ../../src/Styles/Components/_PaymentButtons.scss */
.paymentButtons {
  margin-top: 32px;
  transition: transform 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
}
/* line 4, ../../src/Styles/Components/_PaymentButtons.scss */
.paymentButtons .buttonPrimary {
  margin-right: 5px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 10px 20px;
  font-size: 16px;
  background: black;
}
/* line 11, ../../src/Styles/Components/_PaymentButtons.scss */
.paymentButtons .buttonPrimary:last-child {
  margin-right: 0;
}

/* line 1, ../../src/Styles/Components/_MerchantPaymentWindow.scss */
.backdropContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transform: scale(1.1);
  transition: transform 0.5s cubic-bezier(0.4, 0.03, 0.18, 1.1);
  z-index: -999;
}

/* line 16, ../../src/Styles/Components/_MerchantPaymentWindow.scss */
.merchantPaymentWindow {
  height: 80vmin;
  width: 120vmin;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 3px;
}

/* line 1, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  transform: translateZ(30px);
  white-space: pre;
}
/* line 15, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .masterCardWindow {
  position: relative;
  width: 762px;
  height: 566px;
  border-radius: 3px;
  background: url("../images/mastercard.png") 0 0 no-repeat;
  transition: transform 0.5s cubic-bezier(0.01, 0.66, 0.22, 1.25);
  transform: scale(0);
}
/* line 24, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .masterCardWindow:after {
  position: absolute;
  top: 355px;
  left: 298px;
  content: '';
  display: block;
  background: #6499C9;
  border: 2px solid #6499C9;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: scale(1.3);
  opacity: 0.0;
}
/* line 39, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .masterCardWindow:before {
  position: absolute;
  top: 242px;
  left: 381px;
  content: attr(data-amount);
  font-weight: 900;
  font-size: 15px;
  color: #00007D;
  display: block;
  background: white;
}
/* line 51, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .masterCardWindow .mcWindow-mname {
  position: absolute;
  top: 200px;
  left: 381px;
  font-weight: 900;
  font-size: 15px;
  color: forestgreen;
  display: block;
  background: white;
}
/* line 62, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .masterCardWindow .mcWindow-date {
  position: absolute;
  top: 220px;
  left: 381px;
  font-weight: 900;
  font-size: 15px;
  color: forestgreen;
  display: block;
  background: white;
}
/* line 74, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .paymentConfirmationWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate3d(-50%, -50%, 0);
  background: white;
  border-radius: 4px;
  width: 500px;
  transition: transform 0.3s cubic-bezier(0.01, 0.66, 0.22, 1.25);
  transform-origin: 0% 0%;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
/* line 86, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .paymentConfirmationWindow h1 {
  font-size: 18px;
  font-weight: 700;
}
/* line 90, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .paymentConfirmationWindow .row {
  display: flex;
  width: 100%;
  padding: 30px 0 0 0;
}
/* line 94, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .paymentConfirmationWindow .row .left-col,
.masterCardContainer .paymentConfirmationWindow .row .right-col {
  flex: 1;
}
/* line 98, ../../src/Styles/Components/_Foreground.scss */
.masterCardContainer .paymentConfirmationWindow .row .right-col {
  text-align: right;
}
