/* line 1, ../../src/Styles/main.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../src/Styles/main.scss */
body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(0deg, #4C79B4, #101D4A);
  overflow: hidden;
}

/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  to {
    transform: translateX(-100%);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes bounceIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* line 34, ../../src/Styles/_animations.scss */
.fadeInLeft {
  -moz-animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
  -webkit-animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
  animation: fadeInLeft 0.5s cubic-bezier(0.17, 0.67, 0.32, 1.01) forwards;
}

/* line 38, ../../src/Styles/_animations.scss */
.slideIn {
  -moz-animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  -webkit-animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  animation: slideIn 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
}

/* line 42, ../../src/Styles/_animations.scss */
.slideOut {
  -moz-animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  -webkit-animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
  animation: slideOut 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01) both;
}

/* line 46, ../../src/Styles/_animations.scss */
.bounceIn {
  -moz-animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
  -webkit-animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
  animation: bounceIn 0.3s both cubic-bezier(0.01, 0.66, 0.22, 1.25);
}

/* line 1, ../../src/Styles/Components/_App.scss */
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.3s, margin 0.3s;
  transition-delay: 0.05s;
}

/* line 12, ../../src/Styles/Components/_App.scss */
.shrunk {
  width: 70vw;
  margin-left: 30vw;
}

/* line 1, ../../src/Styles/Components/_Sidebar.scss */
.sidebar {
  position: absolute;
  width: 30vw;
  height: 100vh;
  background: white;
  z-index: 999;
  transition: transform 0.3s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  box-shadow: 4px 3px 14px 0px rgba(0, 0, 0, 0.06);
  transform: translateX(-100%);
  overflow-x: hidden;
}

/* line 13, ../../src/Styles/Components/_Sidebar.scss */
.open {
  transform: translateX(0);
}
/* line 15, ../../src/Styles/Components/_Sidebar.scss */
.open > .merchantList > .merchantListItem {
  opacity: 1;
  transform: translateX(0);
}

/* line 1, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModal {
  margin-bottom: 30px;
  max-width: 350px;
  min-width: 350px;
  background: white;
  border-radius: 3px;
  transform: scale(0);
  font-family: 'Lato';
}

/* line 11, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader {
  background: #1abc9c;
  width: 100%;
  padding: 20px;
  border-radius: 3px 3px 0 0;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
/* line 19, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-name, .paymentModalHeader #header-description, .paymentModalHeader #header-amount {
  white-space: pre;
  text-overflow: ellipsis;
  padding: 0 0 2px 0;
  overflow: hidden;
}
/* line 26, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-logo {
  width: 64px;
  height: 64px;
  border-radius: 3px;
  margin-right: 24px;
  background: white;
  float: left;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 36, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-merchant-name {
  font-size: 20px;
}
/* line 41, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-description {
  margin-top: 3px;
  opacity: 0.8;
  font-size: 16px;
}
/* line 48, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalHeader #header-amount {
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
}

/* line 56, ../../src/Styles/Components/_PaymentModal.scss */
.paymentModalBody {
  padding: 20px;
}

/* line 1, ../../src/Styles/Components/_ButtonStart.scss */
.buttonStart {
  padding: 15px 25px;
  text-transform: uppercase;
  font-family: Lato;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
  letter-spacing: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* line 15, ../../src/Styles/Components/_ButtonStart.scss */
.buttonStart:active {
  transform: scale(0.9);
}
/* line 19, ../../src/Styles/Components/_ButtonStart.scss */
.buttonStart:focus {
  outline: none;
}

/* line 1, ../../src/Styles/Components/_MerchantList.scss */
.merchantList {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.4s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  transform: translateX(-100%);
}

/* line 1, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  transform: translateX(-15%);
  opacity: 0;
}
/* line 11, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:hover {
  background: blue;
  color: white;
}
/* line 17, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:nth-child(1) {
  transition-delay: 0.1s;
}
/* line 17, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:nth-child(2) {
  transition-delay: 0.2s;
}
/* line 17, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:nth-child(3) {
  transition-delay: 0.3s;
}
/* line 17, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:nth-child(4) {
  transition-delay: 0.4s;
}
/* line 17, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:nth-child(5) {
  transition-delay: 0.5s;
}
/* line 17, ../../src/Styles/Components/_MerchantListItem.scss */
.merchantListItem:nth-child(6) {
  transition-delay: 0.6s;
}

/* line 23, ../../src/Styles/Components/_MerchantListItem.scss */
.li-merchantName {
  margin-left: 10px;
  width: 80%;
}

/* line 28, ../../src/Styles/Components/_MerchantListItem.scss */
.li-merchantImage {
  width: 50px;
  height: 50px;
  background: red;
}

/* line 34, ../../src/Styles/Components/_MerchantListItem.scss */
.arrow-right {
  width: 50px;
  height: 50px;
  background: black;
  margin-left: 5px;
}

/* line 1, ../../src/Styles/Components/_MerchantDetail.scss */
.merchantDetail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  transition: transform 0.4s cubic-bezier(0.06, 0.69, 0.18, 1.01);
  transform: translateX(110%);
  box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.3);
  background: white;
}

/* line 14, ../../src/Styles/Components/_MerchantDetail.scss */
.visible-in-sidebar {
  transform: translateX(0);
}
