@keyframes otp-fill-anim {
  0% {background-position: 0 0;}
  100% {background-position: 0 -3396px;}
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
};

@keyframes slideOut {
  to {
    transform: translateX(-100%);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes bounceIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bounceOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes fadeOutInWithPause {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpScaleDown {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(0.9);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: scale(0.5);
    opacity: 0;
    border-width: 8px;
  }
  20% {
    transform: scale(0.6);
    opacity: 0.8;
    border-width: 4px;
  }
  90% {
    transform: scale(1);
    opacity: 0;
  }
}


.fadeInLeft {
  @include animation(fadeInLeft 0.5s cubic-bezier(.17,.67,.32,1.01) forwards);
}

.fadeInRight {
  @include animation(fadeInRight 0.5s cubic-bezier(.17,.67,.32,1.01) forwards);
}

.slideIn {
  @include animation(slideIn 0.3s cubic-bezier(.06,.69,.18,1.01) both);
}

.slideOut {
  @include animation(slideOut 0.3s cubic-bezier(.06,.69,.18,1.01) both);
}

.bounceIn {
  @include animation(bounceIn 0.3s both cubic-bezier(.01,.66,.22,1.25));
}

.bounceOut {
  @include animation(bounceOut 0.3s both cubic-bezier(.59,-0.46,.29,1.24));
}

.fadeInUp {
  @include animation(fadeInUp 0.3s);
}

.fadeInUpScaleDown {
  @include animation(fadeInUpScaleDown 0.3s);
}


.fadeInDown {
  @include animation(fadeInDown 0.3s both);
}

.fadeIn {
  animation: fadeIn 0.3s;
}

// Animations concerned with final payment rotations
@keyframes demo-rotate{
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(30deg);
  }
}

.demo-rotate {
  animation: demo-rotate 0.3s $spring-easing both;
}