* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background:linear-gradient(0deg, #4C79B4, #101D4A);
  perspective: 1400px;
  overflow: hidden;
}

html * {
  font-family: 'Lato', sans-serif !important;
}

@import "compass";
@import "compass/reset";
@import "./variables";
@import "./animations";
@import "./mixins";
@import "./Components/App";
@import "./Components/SidebarHeader";
@import "./Components/Sidebar";
@import "./Components/PaymentModal";
@import "./Components/PaymentModalBody";
@import "./Components/ButtonPrimary";
@import "./Components/ButtonBackToList";
@import "./Components/MerchantList";
@import "./Components/MerchantListItem";
@import "./Components/MerchantDetail";
@import "./Components/PaymentButtons";
@import "./Components/MerchantPaymentWindow";
@import "./Components/Foreground";
